#cover {
  position: fixed;
  width: 100%;
  height: 100vh;
  min-height: 600px;  
  margin-bottom: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 1;
  .bg{
      position: absolute;
      width: 100%;
      height: 100%;
      background: #1d1d1d;
      box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.5);
  }
    .section-desc{
        text-align: center;
        width: 100%;
        left: 0;
        color: rgba(255, 255, 255, 0.05);
        font-size: 65vh;
    }
    .code-main-block{
        position: absolute;
        border: 2px solid #dad9da;
        border-radius: 5px;
        border-top: 30px solid #dad9da;
        padding: 1px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
        // opacity: 0.95;
        opacity: 1;
        background: #1E1E1E;
        
        // display: none;
        .code-block{
            position: absolute;
            width: 100%;
            height: 99%;
            overflow: hidden;
        }
        pre{
            white-space: pre-wrap;
            margin: -10px 5px;
            overflow: hidden;
        }
        code{
            padding-left: 3%;
            margin: 0;
            overflow: hidden;
            user-select: none;
        }
        .dots{
            position: absolute;
            top: -23px;
            left: 10px;
            width: 71px;
            height: 20px;
            display: flex;
            .red, .yellow, .green{
                width: 15px;
                height: 15px;
                border-radius: 50%;
            }
            .red{
                border: 1px solid #e74640;
                background: #fc605c;
                margin-right: 10px;
            }
            .yellow{
                border: 1px solid #f2a500;
                background: #fdbc40;
                margin-right: 10px;
            }
            .green{
                border: 1px solid #1ca251;
                background: #35ca4a;
            }
        }
    }
    .cb1{ 
        top: 12%;
        left: 1%;
        width: 37%;
        height: 70%;
        transform: translateX(-120%);
    };
    .cb2{ 
        top: 20%;
        left: 45%;
        width: 43%;
        height: 70%;
        transform: translateX(140%);
    };
    .cb3{ 
        top: 3%;
        right: 1%;
        width: 40%;
        height: 60%;
        transform: translateY(-120%);
    };

    .loading-box{
        position: absolute;
        width : 400px;
        height : 250px;
        top: calc(50% - 125px);
        left: calc(50% - 200px);
        border-radius: 10px;
        z-index: 2;
        overflow: hidden;

        background: rgba(0, 0, 0, 0.7);
        transform: scale(0);
        .loading-txt-wrapper{
            width: 100%;
            height: 100%;
            color: #fff;
            text-align: center;
            .loading-txt{
                position: absolute;
                width: 100%;
                top: 165px;
                opacity: 0;
                .dot{ opacity: 0; }
            }
            // .loading-txt1{ opacity: 1; }
            
        }
        .circle-ornament{
            $size: 100px;
            $fcSize: $size * 0.33;
            $animationTime: 2s;

            position: absolute;
            top: 0%;
            left: 50%;
            width: $size;
            height: $size;
            border-radius: 50%;
            border: 1px solid #0099ff;
            transform: translate(-50%, 40%);
            // background: $mainColor;
            box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.31);
            .floating-circle{
                position: absolute;
                top: - $fcSize / 2;
                left: calc(50% - #{$fcSize / 2});
                width: $fcSize;
                height: $fcSize;
                border-radius: 50%;
                transform-origin: 0.5*$fcSize 0.5*($fcSize + $size);

                background: #111;
                border: 1px solid #0099ff;

                animation-duration: $animationTime;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }
            .fc2{ animation-delay: $animationTime * 1/5; }
            .fc3{ animation-delay: $animationTime * 2/5; }
            .fc4{ animation-delay: $animationTime * 3/5; }
            .fc5{ animation-delay: $animationTime * 4/5; }
        }
        .animation-FC .floating-circle{
            animation-name: rotateFC;
        }
        @keyframes rotateFC { 100% {transform: rotate(360deg);} }
    }
    .elements-wrapper{
        $scale: 0.65;
        $scale: 1;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        .circle, .box, .wheel {
            transform: scale(0);
            
            border: 1px solid #000000;
            background: #d2d2d2;
            box-shadow: 10px 10px 30px 0px #000000;
            
        }
        .circle{
            position: absolute;
            width: 120px * $scale;
            height: 120px * $scale;
            border-radius: 50%;
            z-index: 1;
            &.circle1 { left: calc(6.6% - #{60px * $scale}); top: calc(50.1% - #{60px * $scale});}
            &.circle2 { left: calc(19.8% - #{60px * $scale}); top: calc(50.1% - #{60px * $scale});}
            &.circle3 { left: calc(32% - #{60px * $scale}); top: calc(50.1% - #{60px * $scale});}
            &.circle4 { left: calc(6.6% - #{60px * $scale}); top: calc(70.1% - #{60px * $scale});}
            &.circle5 { left: calc(19.8% - #{60px * $scale}); top: calc(70.1% - #{60px * $scale});}
            &.circle6 { left: calc(32% - #{60px * $scale}); top: calc(70.1% - #{60px * $scale});}
            &.circle7 { left: calc(6.6% - #{60px * $scale}); top: calc(90.2% - #{60px * $scale});}
            &.circle8 { left: calc(19.8% - #{60px * $scale}); top: calc(90.2% - #{60px * $scale});}
            &.circle9 { left: calc(32% - #{60px * $scale}); top: calc(90.2% - #{60px * $scale});}
        }
        .box{
            position: absolute;
            width: 400px * $scale;
            height: 250px * $scale;
            border-radius: 10px * $scale;
            top: calc(20.5% - #{125px * $scale});
            z-index: 1;
            &.box1 { left: calc(12.5% - #{200px * $scale})}
            &.box2 { left: calc(37.5% - #{200px * $scale})}
            &.box3 { left: calc(62.5% - #{200px * $scale})}
            &.box4 { left: calc(87.5% - #{200px * $scale})}
        }
        .wheel{
            position: absolute;
            width: 500px * $scale;
            height: 500px * $scale;
            border-radius: 50%;
            left: calc(69.8% - #{250px * $scale}); 
            top: calc(69% - #{250px * $scale});
            z-index: 0;
        }
    }
    .skip{
        position: absolute;
        bottom: 0%;
        left: calc(50% - 140px);
        width: 280px;
        height: 50px;
        transform: translateY(80px);
        .border-container{
            position: absolute;
            top: 0%;
            height: 100%;
            width: 50%;
            overflow: hidden;
            pointer-events: none;
            .border{
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                background: rgba(0, 0, 0, 0.9);
                transform: skewX(45deg);
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
        }
        .border-left-container{
            left: 0;
            .border{
                left: 10%;
                transform: skewX(-30deg);
            }
        }
        .border-right-container{
            left: 50%;
            .border{
                left: -10%;
                transform: skewX(30deg);
            }
        }
        .text-box{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            font-size: 14px;
            text-align: center;
            color: #fff;
            vertical-align: middle;
            line-height: 60px;
            opacity: 0;
            .dot{
                opacity: 0;
            }
        }
        .scroll-icon{
            $size: 30px;
            position: absolute;
            left: calc(50% - #{$size * 0.3} - 1px);
            top: -$size * 0.6;
            width: $size * 0.6;
            height: $size;
            border-radius: $size * 0.3;
            background: #111;
            border: 1px solid #0099ff;
            box-shadow: 0px 0px 0px 2px #111;
            transform: scale(0);
            // opacity: 0.9;
            .scroll-overflow{
                position: absolute;
                left: ($size * 0.3) - 1px;
                top: $size / 10;
                width: 2px;
                height: $size / 3;
                overflow: hidden;
            }
            .scroll-line{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 80%;
                background: #0099ff;
                animation-name: scrollLine;
                animation-duration: 1s;
                animation-iteration-count: infinite;
                @keyframes scrollLine {
                    0% {
                        transform: translateY(-100%);
                    }
                    100%{
                        transform: translateY(150%);
                    }
                }
            }
        }
    }
}