#cover {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 600px;  
  margin-bottom: 0;
  background: #1d1d1d;
  overflow: hidden;
//   background: linear-gradient(155deg, #000000 0%, #131313 51%, #000000);
    .section-desc{
        text-align: center;
        width: 100%;
        left: 0;
        color: rgba(255, 255, 255, 0.05);
        font-size: 65vh;
        // text-shadow:
        //     -5px -5px 0 #000,
        //     5px -5px 0 #000,
        //     -5px 5px 0 #000,
        //     5px 5px 0 #000;
    }
    .code-main-block{
        position: absolute;
        border: 2px solid #dad9da;
        border-radius: 5px;
        border-top: 30px solid #dad9da;
        padding: 1px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
        // opacity: 0.95;
        opacity: 1;
        background: #1E1E1E;
        
        // display: none;
        .code-block{
            position: absolute;
            width: 100%;
            height: 99%;
            overflow: hidden;
        }
        pre{
            white-space: pre-wrap;
            margin: -10px 5px;
            overflow: hidden;
        }
        code{
            padding-left: 3%;
            margin: 0;
            overflow: hidden;
            user-select: none;
        }
        .dots{
            position: absolute;
            top: -23px;
            left: 10px;
            width: 71px;
            height: 20px;
            display: flex;
            .red, .yellow, .green{
                width: 15px;
                height: 15px;
                border-radius: 50%;
            }
            .red{
                border: 1px solid #e74640;
                background: #fc605c;
                margin-right: 10px;
            }
            .yellow{
                border: 1px solid #f2a500;
                background: #fdbc40;
                margin-right: 10px;
            }
            .green{
                border: 1px solid #1ca251;
                background: #35ca4a;
            }
        }
    }
    .cb1{ 
        top: 12%;
        left: 1%;
        width: 37%;
        height: 70%;
        transform: translateX(-120%);
    };
    .cb2{ 
        top: 20%;
        left: 45%;
        width: 43%;
        height: 70%;
        transform: translateX(140%);
    };
    .cb3{ 
        top: 3%;
        right: 1%;
        width: 40%;
        height: 60%;
        transform: translateY(-120%);
    };

    .loading-box{
        position: absolute;
        width : 400px;
        height : 250px;
        top: calc(50% - 125px);
        left: calc(50% - 200px);
        border-radius: 10px;
        z-index: 2;
        overflow: hidden;

        background: rgba(0, 0, 0, 0.7);
        transform: scale(0);
        .loading-txt-wrapper{
            width: 100%;
            height: 100%;
            color: #fff;
            text-align: center;
            .loading-txt{
                position: absolute;
                width: 100%;
                top: 165px;
                opacity: 0;
                .dot{ opacity: 0; }
            }
            // .loading-txt1{ opacity: 1; }
            
        }
        .circle-ornament{
            $size: 100px;
            $fcSize: $size * 0.33;
            $animationTime: 2s;

            position: absolute;
            top: 0%;
            left: 50%;
            width: $size;
            height: $size;
            border-radius: 50%;
            border: 1px solid #0099ff;
            transform: translate(-50%, 40%);
            // background: $mainColor;
            box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.31);
            .floating-circle{
                position: absolute;
                top: - $fcSize / 2;
                left: calc(50% - #{$fcSize / 2});
                width: $fcSize;
                height: $fcSize;
                border-radius: 50%;
                transform-origin: 0.5*$fcSize 0.5*($fcSize + $size);

                background: #111;
                border: 1px solid #0099ff;

                animation-duration: $animationTime;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }
            .fc2{ animation-delay: $animationTime * 1/5; }
            .fc3{ animation-delay: $animationTime * 2/5; }
            .fc4{ animation-delay: $animationTime * 3/5; }
            .fc5{ animation-delay: $animationTime * 4/5; }
        }
        .animation-FC .floating-circle{
            animation-name: rotateFC;
        }
        @keyframes rotateFC { 100% {transform: rotate(360deg);} }
    }
    .elements-wrapper{
        $scale: 0.65;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        .circle, .box, .wheel {
            transform: scale(0);
            
            border: 1px solid #000000;
            background: #d2d2d2;
            box-shadow: 10px 10px 30px 0px #000000;
            
        }
        .circle{
            position: absolute;
            width: 120px * $scale;
            height: 120px * $scale;
            border-radius: 50%;
            &.circle1 { left: calc(6.6% - #{60px * $scale}); top: calc(50.1% - #{60px * $scale});}
            &.circle2 { left: calc(19.8% - #{60px * $scale}); top: calc(50.1% - #{60px * $scale});}
            &.circle3 { left: calc(32% - #{60px * $scale}); top: calc(50.1% - #{60px * $scale});}
            &.circle4 { left: calc(6.6% - #{60px * $scale}); top: calc(70.1% - #{60px * $scale});}
            &.circle5 { left: calc(19.8% - #{60px * $scale}); top: calc(70.1% - #{60px * $scale});}
            &.circle6 { left: calc(32% - #{60px * $scale}); top: calc(70.1% - #{60px * $scale});}
            &.circle7 { left: calc(6.6% - #{60px * $scale}); top: calc(90.2% - #{60px * $scale});}
            &.circle8 { left: calc(19.8% - #{60px * $scale}); top: calc(90.2% - #{60px * $scale});}
            &.circle9 { left: calc(32% - #{60px * $scale}); top: calc(90.2% - #{60px * $scale});}
        }
        .box{
            position: absolute;
            width: 400px * $scale;
            height: 250px * $scale;
            border-radius: 10px * $scale;
            top: calc(20.5% - #{125px * $scale});
            &.box1 { left: calc(12.5% - #{200px * $scale})}
            &.box2 { left: calc(37.5% - #{200px * $scale})}
            &.box3 { left: calc(62.5% - #{200px * $scale})}
            &.box4 { left: calc(87.5% - #{200px * $scale})}
        }
        .wheel{
            position: absolute;
            width: 500px * $scale;
            height: 500px * $scale;
            border-radius: 50%;
            left: calc(69.8% - #{250px * $scale}); 
            top: calc(69% - #{250px * $scale});
        }
    }
}