#cover {
  position: fixed;
  width: 100%;
  height: 100vh;
  min-height: 600px;  
  margin-bottom: 0;
  background: #123456;
  overflow: hidden;

    .code-main-block{
        position: absolute;
        border: 2px solid #dad9da;
        border-radius: 5px;
        border-top: 30px solid #dad9da;
        padding: 1px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
        opacity: 0.9;
        background: #1E1E1E;
        .code-block{
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        &:hover{
            z-index: 1;
            opacity: 1;
            pre{
                transform: translateY(-95%);
            }
        }
        pre{
            transition-duration: 2s;
            transition-timing-function: linear;
            white-space: pre-wrap;
            margin: -10px 5px;
            overflow: hidden;
        }
        code{
            padding-left: 3%;
            margin: 0;
            overflow: hidden;
            user-select: none;
        }
        .dots{
            position: absolute;
            top: -23px;
            right: 10px;
            width: 71px;
            height: 20px;
            display: flex;
            .red, .yellow, .green{
                width: 17px;
                height: 17px;
                border-radius: 50%;
            }
            .red{
                background: #fc605c;
                margin-right: 10px;
            }
            .yellow{
                background: #fdbc40;
                margin-right: 10px;
            }
            .green{
                background: #35ca4a;
            }
        }
    }
    .cb1{ 
        top: 12%;
        left: 1%;
        width: 37%;
        height: 70%;
    };
    .cb2{ 
        top: 22%;
        left: 45%;
        width: 43%;
        height: 70%;
    };
    .cb3{ 
        top: 3%;
        right: 1%;
        width: 40%;
        height: 60%;
    };
}