#navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  z-index: 2;
  .hover-box{
      position: absolute;
      width: 80%;
      height: 100%;
      top: 0;
      left: 10%;
      transform: translateY(-80%);
      transform: translateY(-100%);
    }
    &:hover .hover-box{ transform: translateY(0%); }
    a, span{
        text-decoration: none;
        font-size: 24px;
        color: #fff;
        display: block;
        text-align: center;
        width: 15%;
        cursor: pointer;
        padding-bottom: 5px;
    }
  .flex-box{
    position: absolute;
    top: 0;
    left: 8%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 84%;
    height: 100%;

  }
  .border-container{
    position: absolute;
    top: 0%;
    height: 100%;
    width: 50%;
    overflow: hidden;
    pointer-events: none;
    .border{
        position: absolute;
        height: calc(100% - 1px);
        width: 100%;
        top: 0;
        left: 10%;
        background: rgba(0, 0, 0, 0.6);
        transform: skewX(45deg);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        // border-bottom: 2px solid #fff;
        // border-left: 2px solid #fff;
        // border-right: 2px solid #fff;
    }
  }
  .border-left-container{
    left: 0;
    .border{
        left: 10%;
        transform: skewX(30deg);
    }
  }
  .border-right-container{
    left: 50%;
    .border{
        left: -10%;
        transform: skewX(-30deg);
    }
  }
  .progress-line{
    position: absolute;
    bottom: 0px;
    left: 8%;
    width: 0%;
    height: 2px;
    border-radius: 4px;
    background: #0099ff;
  }
  .circle{
    position: absolute;
    left: calc(8% - 14px);
    bottom: -14px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #111;
    border: 2px solid #0099ff;
    cursor: grab;
    &:active{
      cursor: grabbing;
      
    }
  }
}
