#skills {
  position: relative;
  padding: 30px 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;

  $numberOfBoxesInRow: 5;
  $transitionDuration: 0.3s;

  .flex-box {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
    height: 50%;
  }
  .flex-box-top{ 
    top: 0; 
    align-items: flex-end; 
    .desc-box { 
      top: 0;
      // transform: translate(-50%, -120%); 
      transform: translate(-50%, -50%); 
    }
    .skill-box:hover .desc-box {
      transform: translate(-50%, -120%); 
      opacity: 1;
    };
  }
  .flex-box-bottom{ 
    top: 50%;
    align-items: flex-start; 
    .desc-box {
        bottom: 0;
        // transform: translate(-50%, 120%); 
        transform: translate(-50%, 50%); 
      }
      .skill-box:hover .desc-box {
        transform: translate(-50%, 120%); 
        opacity: 1; 
      };
  }
  .desc-box {
    position: absolute;
    left: 50%;
    width: 250px;
    height: 150px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    box-shadow: 0px 0px 30px 0px;
    opacity: 0;
    transition-duration: 2 * $transitionDuration;
    color: black;
    padding: 10px;
    .desc-header{
      padding: 5px 0;
      position: relative;
      width: 100%;
      text-align: center;
    }
    .desc-body{
      width: 100%;
    }
  }
  .skill-box {
    width: 100% / $numberOfBoxesInRow;
    position: relative;
    .skill-logo-box {
      margin: 0 auto;
      box-shadow: 0px 0px 30px 0px;
      position: relative;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background: #fff;
      .skill-logo {
        position: absolute;
        width: 90%;
        height: auto;
        left: 5%;
        top: 5%;
        opacity: 0.6;
        transition-duration: $transitionDuration;
        transform: scale(0.8);
        filter: grayscale(100%);
      }
      &:hover .skill-logo {
        transform: scale(1);
        opacity: 1;
        filter: none;
      }
    }
  }
}
