$icon-font-path: "../fonts/";

@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900&subset=latin-ext");

// $mainColor: #0099ff;
$mainColor: #314a94;
// $mainColor: #dddddd;

body {
  font-family: "Lato", sans-serif;  
  background: $mainColor;
  margin: 0;
  padding: 0;
}
section{
  margin-bottom: 120px;
}
.section-desc {
  position: absolute;
  top: 50%;
  width: 110%;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.1);
  font-weight: 900;
  font-size: 70vh;
  left: -10%;
  letter-spacing: 0.05em;
  margin-right: 0.05em;
  transform: translate(0%, -50%);
  pointer-events: none;
  user-select: none;
}

@import "__trigonometry.scss";
@import "__btns.scss";
@import "_codestyle_vs2015.scss";

@import "_cover.scss";
@import "_about.scss";
@import "_skills.scss";
@import "_boxes.scss";
@import "_wheel.scss";
@import "_footer.scss";
@import "_navigation.scss";


@import "_test.scss";

@import "style1.scss";


body::-webkit-scrollbar {
  width: 0px;
}
 
body::-webkit-scrollbar-thumb {
  background: #fff; 
  border-radius: 5px;
}

body::-webkit-scrollbar-track-piece{
    background: $mainColor;
}