.style1{
    background: url("../images/k.png") 100% 50%, linear-gradient(135deg, #006187, #03283a);
    #cover{
        .bg{
            background: url("../images/k.png") 100% 50%, #1d1d1d;
        }
    }
    #skills {
        .skill-box {
            .skill-logo-box{
                backface-visibility: visible;
                transform: perspective(75px);
                background:  radial-gradient(circle, #ffffff, #7ed8df);
                transition: background 0.35s, box-shadow 0.35s; 
                &.active{
                    background:  radial-gradient(circle, #ffffff, #46f1fc);
                    box-shadow: 0px 0px 20px 3px #46f1fc;
                }
            }
        }
        .desc-box{
            background: rgba(0, 0, 0, 0.7);
            color: white;
            box-shadow: 0px 0px 30px 0px;
            padding: 10px;
            box-shadow: 0px 0px 20px 3px #46f1fc;
                border: 2px solid #46f1fc;
            .desc-header{
                padding: 1px 0 10px 0;
                border: none;
                font-size: 18px;
            }
            .desc-line{
                background: #46f1fc;
                width: 0%;
                margin: 0 10%;
                height: 2px;
                border-radius: 1px;
                position: relative;
                box-shadow: 0 0 10px #46f1fc;
            }
            .desc-body {
                width: 94%;
                padding: 13px 0px 8px 0px;
                font-size: 14px;
                text-align: center;
                margin: 0 3%;
            }
        }
    }
    #footer {
        .circle-ornament {
            background:  url("../images/k.png") 97.5% 48%, #03354c;
        }
    }
}