.style1{
    background: url("../images/k.png") 100% 50%, linear-gradient(135deg, #006187, #03283a);
    #skills {
        .skill-box .skill-logo-box{
            box-shadow: 0px 0px 20px 0px #333;
            background: linear-gradient(135deg, #ffffff, #96f5fb);

            // box-shadow: 0px 0px 20px 0px #46f1fc;
            // background: linear-gradient(135deg, #ffffff, #96f5fb);
        }
    }
    #footer {
        .circle-ornament {
            background:  url("../images/k.png") 100% 50%, #03354c;
        }
    }
}