<!-- index.html -->
{% extends "layout.html" %} 
{% block content %}
    <div style="display: block">
        {% include "partials/cover.html" %}
        <div id="main-wrapper">
            {% include "partials/about.html" %} 
            {% include "partials/skills.html" %} 
            {% include "partials/boxes.html" %} 
            {% include "partials/wheel.html" %}
        </div>
    </div>
    
    {% include "partials/footer.html" %}
    {% include "partials/navigation.html" %}
{% endblock%}