<!-- index.html -->
{% extends "layout.html" %} 
{% block content %}
    <div style="display: none">
        {% include "partials/cover.html" %}
        <div id="main-wrapper" style="display: block;">
            {% include "partials/about.html" %} 
            {% include "partials/wheel.html" %}
            {% include "partials/boxes.html" %} 
        </div>
    </div>
    
    {% include "partials/skills.html" %} 
    {% include "partials/footer.html" %}
    {% include "partials/navigation.html" %}
{% endblock%}