<!-- about.html -->

<section id="about">
    <div class="section-desc">
        ABOUT
    </div>
    <div class="flex-box">
        <div class="about-box">
            <h1> Lorem ipsum </h1>
            <h2> Dolor sit amet, discere habemus voluptatibus in sit, primis omnium an sit.</h2>
            <h3> Et duo elitr omittantur definitiones, mentitum elaboraret persequeris cum ei, sed ei solet imperdiet liberavisse. Eum eu
            erant veniam integre, has ex similique honestatis. </h3>
        </div>
    </div>

</section>