<!-- skills.html -->

<section id="boxes">
    <div class="section-desc">
         BOXES
    </div>
    <div class="flex-box flex-box-top">
        <div class="box box1">
            <div class="translation-box translation-box-left">
                <div class="box-sided box-left">
                    <div class="box-title">loremipsum</div>
                </div>
            </div>
            <div class="translation-box translation-box-right">
                <div class="box-sided box-right">
                    <div class="box-title">loremipsum</div>
                </div>
            </div>
            <div class="box-title main-title">loremipsum</div>
        </div>
        <div class="box box2">
            <div class="translation-box translation-box-left">
                <div class="box-sided box-left">
                    <div class="box-title">dolor sit amet</div>
                </div>
            </div>
            <div class="translation-box translation-box-right">
                <div class="box-sided box-right">
                    <div class="box-title">dolor sit amet</div>
                </div>
            </div>
            <div class="box-title main-title">dolor sit amet</div>
        </div>
    </div>
    <div class="flex-box flex-box-bottom">
        <div class="box box3">
            <div class="translation-box translation-box-left">
                <div class="box-sided box-left">
                    <div class="box-title">consectetur</div>
                </div>
            </div>
            <div class="translation-box translation-box-right">
                <div class="box-sided box-right">
                    <div class="box-title">consectetur</div>
                </div>
            </div>
            <div class="box-title main-title">consectetur</div>
        </div>
        <div class="box box4">
            <div class="translation-box translation-box-left">
                <div class="box-sided box-left">
                    <div class="box-title">do eiusmod</div>
                </div>
            </div>
            <div class="translation-box translation-box-right">
                <div class="box-sided box-right">
                    <div class="box-title">do eiusmod</div>
                </div>
            </div>
            <div class="box-title main-title">do eiusmod</div>
        </div>
    </div>


</section>