<!-- boxes.html -->

<section id="boxes">
    <div class="section-desc">
        BOXES
    </div>
    <div class="carousel-3d">
    <!-- <div class="flex-box flex-box-top"> -->
        <div class="box box1">
            <div class="translation-box translation-box-left">
                <div class="box-sided box-left">
                    <div class="box-title">1</div>
                </div>
            </div>
            <div class="translation-box translation-box-right">
                <div class="box-sided box-right">
                    <div class="box-title">1</div>
                </div>
            </div>
            <div class="box-title main-title">1</div>
            <div class="close-box-btn">
                <div class="close-rotation-btn">
                    <div class="line line-one"></div>
                    <div class="line line-two"></div>
                    <div class="dot dot1"></div>
                    <div class="dot dot2"></div>
                    <div class="dot dot3"></div>
                    <div class="dot dot4"></div>
                </div>
            </div>
            <div class="box-event-area"></div>
        </div>
        <div class="box box2">
            <div class="translation-box translation-box-left">
                <div class="box-sided box-left">
                    <div class="box-title">2</div>
                </div>
            </div>
            <div class="translation-box translation-box-right">
                <div class="box-sided box-right">
                    <div class="box-title">2</div>
                </div>
            </div>
            <div class="box-title main-title">2</div>
            <div class="close-box-btn">
                <div class="close-rotation-btn">
                    <div class="line line-one"></div>
                    <div class="line line-two"></div>
                    <div class="dot dot1"></div>
                    <div class="dot dot2"></div>
                    <div class="dot dot3"></div>
                    <div class="dot dot4"></div>
                </div>
            </div>
            <div class="box-event-area"></div>
        </div>
    <!-- </div>
    <div class="flex-box flex-box-bottom"> -->
        <div class="box box3">
            <div class="translation-box translation-box-left">
                <div class="box-sided box-left">
                    <div class="box-title">死神</div>
                </div>
            </div>
            <div class="translation-box translation-box-right">
                <div class="box-sided box-right">
                    <div class="box-title">死神</div>
                </div>
            </div>
            <div class="box-title main-title">死神</div>
            <div class="close-box-btn">
                <div class="close-rotation-btn">
                    <div class="line line-one"></div>
                    <div class="line line-two"></div>
                    <div class="dot dot1"></div>
                    <div class="dot dot2"></div>
                    <div class="dot dot3"></div>
                    <div class="dot dot4"></div>
                </div>
            </div>
            <div class="box-event-area"></div>
        </div>
        <div class="box box4">
            <div class="translation-box translation-box-left">
                <div class="box-sided box-left">
                    <div class="box-title">( ͡° ͜ʖ ͡°)</div>
                </div>
            </div>
            <div class="translation-box translation-box-right">
                <div class="box-sided box-right">
                    <div class="box-title">( ͡° ͜ʖ ͡°)</div>
                </div>
            </div>
            <div class="box-title main-title">( ͡° ͜ʖ ͡°)</div>
            <div class="close-box-btn">
                <div class="close-rotation-btn">
                    <div class="line line-one"></div>
                    <div class="line line-two"></div>
                    <div class="dot dot1"></div>
                    <div class="dot dot2"></div>
                    <div class="dot dot3"></div>
                    <div class="dot dot4"></div>
                </div>
            </div>
            <div class="box-event-area"></div>
        </div>
        <div class="box box5">
            <div class="translation-box translation-box-left">
                <div class="box-sided box-left">
                    <div class="box-title">NO. 5</div>
                </div>
            </div>
            <div class="translation-box translation-box-right">
                <div class="box-sided box-right">
                    <div class="box-title">NO. 5</div>
                </div>
            </div>
            <div class="box-title main-title">NO. 5</div>
            <div class="close-box-btn">
                <div class="close-rotation-btn">
                    <div class="line line-one"></div>
                    <div class="line line-two"></div>
                    <div class="dot dot1"></div>
                    <div class="dot dot2"></div>
                    <div class="dot dot3"></div>
                    <div class="dot dot4"></div>
                </div>
            </div>
            <div class="box-event-area"></div>
        </div>
    <!-- </div> -->
    </div>
    <div class="controllers">
        <div class="perv-btn">P</div>
        <div class="stop-play-btn">S/P</div>
        <div class="next-btn">N</div>
        <div class="progess-bar"></div>
        <div class="box-btns-container">
            <div class="box-btn"></div>
            <div class="box-btn"></div>
            <div class="box-btn"></div>
            <div class="box-btn"></div>
            <div class="box-btn"></div>
        </div>
    </div>


</section>