<!-- boxes.html -->

<section id="boxes">
    <div class="section-desc">
        BOXES
    </div>
    <div class="carousel-3d">
    <!-- <div class="flex-box flex-box-top"> -->
        <div class="box box1">
            <div class="translation-box translation-box-left">
                <div class="box-sided box-left">
                    <div class="box-title">1</div>
                </div>
            </div>
            <div class="translation-box translation-box-right">
                <div class="box-sided box-right">
                    <div class="box-title">1</div>
                </div>
            </div>
            <div class="box-title main-title">1</div>
            <div class="close-box-btn">
                <div class="close-rotation-btn">
                    <div class="line line-one"></div>
                    <div class="line line-two"></div>
                    <div class="dot dot1"></div>
                    <div class="dot dot2"></div>
                    <div class="dot dot3"></div>
                    <div class="dot dot4"></div>
                </div>
            </div>
            <div class="box-event-area"></div>
        </div>
        <div class="box box2">
            <div class="translation-box translation-box-left">
                <div class="box-sided box-left">
                    <div class="box-title">2</div>
                </div>
            </div>
            <div class="translation-box translation-box-right">
                <div class="box-sided box-right">
                    <div class="box-title">2</div>
                </div>
            </div>
            <div class="box-title main-title">2</div>
            <div class="close-box-btn">
                <div class="close-rotation-btn">
                    <div class="line line-one"></div>
                    <div class="line line-two"></div>
                    <div class="dot dot1"></div>
                    <div class="dot dot2"></div>
                    <div class="dot dot3"></div>
                    <div class="dot dot4"></div>
                </div>
            </div>
            <div class="box-event-area"></div>
        </div>
    <!-- </div>
    <div class="flex-box flex-box-bottom"> -->
        <div class="box box3">
            <div class="translation-box translation-box-left">
                <div class="box-sided box-left">
                    <div class="box-title">死神</div>
                </div>
            </div>
            <div class="translation-box translation-box-right">
                <div class="box-sided box-right">
                    <div class="box-title">死神</div>
                </div>
            </div>
            <div class="box-title main-title">死神</div>
            <div class="close-box-btn">
                <div class="close-rotation-btn">
                    <div class="line line-one"></div>
                    <div class="line line-two"></div>
                    <div class="dot dot1"></div>
                    <div class="dot dot2"></div>
                    <div class="dot dot3"></div>
                    <div class="dot dot4"></div>
                </div>
            </div>
            <div class="box-event-area"></div>
        </div>
        <div class="box box4">
            <div class="translation-box translation-box-left">
                <div class="box-sided box-left">
                    <div class="box-title">( ͡° ͜ʖ ͡°)</div>
                </div>
            </div>
            <div class="translation-box translation-box-right">
                <div class="box-sided box-right">
                    <div class="box-title">( ͡° ͜ʖ ͡°)</div>
                </div>
            </div>
            <div class="box-title main-title">( ͡° ͜ʖ ͡°)</div>
            <div class="close-box-btn">
                <div class="close-rotation-btn">
                    <div class="line line-one"></div>
                    <div class="line line-two"></div>
                    <div class="dot dot1"></div>
                    <div class="dot dot2"></div>
                    <div class="dot dot3"></div>
                    <div class="dot dot4"></div>
                </div>
            </div>
            <div class="box-event-area"></div>
        </div>
        <div class="box box5">
            <div class="translation-box translation-box-left">
                <div class="box-sided box-left">
                    <div class="box-title">NO. 5</div>
                </div>
            </div>
            <div class="translation-box translation-box-right">
                <div class="box-sided box-right">
                    <div class="box-title">NO. 5</div>
                </div>
            </div>
            <div class="box-title main-title">NO. 5</div>
            <div class="close-box-btn">
                <div class="close-rotation-btn">
                    <div class="line line-one"></div>
                    <div class="line line-two"></div>
                    <div class="dot dot1"></div>
                    <div class="dot dot2"></div>
                    <div class="dot dot3"></div>
                    <div class="dot dot4"></div>
                </div>
            </div>
            <div class="box-event-area"></div>
        </div>
    <!-- </div> -->
    </div>
    <div class="controllers">
        <div class="perv-btn">
            <svg version="1.1" height="70" width="311" viewBox="0 0 311 70">
            <style>
                    tspan { white-space:pre }
                    .shp0 { fill: none;stroke: #ffffff;paint-order:stroke fill markers;stroke-width: 25 } 
                </style>
            <path
                style="fill:none;stroke:#ffffff;stroke-width:25;paint-order:stroke fill markers"
                d="M 22.94,-217.83 243.81,-438.7 c 6.25,-6.24 13.64,-9.37 22.19,-9.37 8.55,0 15.95,3.13 22.19,9.37 6.25,6.25 9.37,13.64 9.37,22.19 V 25.24 c 0,8.55 -3.12,15.95 -9.37,22.19 -6.24,6.25 -13.64,9.37 -22.19,9.37 -8.54,0 -15.94,-3.12 -22.19,-9.37 L 22.94,-173.45 c -6.24,-6.24 -9.37,-13.64 -9.37,-22.19 0,-8.54 3.13,-15.94 9.37,-22.19 z"
                class="shp0" />
            </svg>
        </div>
        <div class="stop-play-btn">S/P</div>
        <div class="next-btn">N</div>
        <div class="progess-bar"></div>
        <div class="box-btns-container">
            <div class="box-btn"></div>
            <div class="box-btn"></div>
            <div class="box-btn"></div>
            <div class="box-btn"></div>
            <div class="box-btn"></div>
        </div>
    </div>


</section>