<!-- navigation.html -->

<div id="navigation">
    <div class="hover-box">
        <div class="border-container border-left-container">
            <div class="border"></div>
        </div>
        <div class="border-container border-right-container">
            <div class="border"></div>
        </div>
        <div class="flex-box nav-wrapper">
            <span id="home-nav-btn">home</span>
            <span id="about-nav-btn">about</span>
            <span id="skills-nav-btn">skills</span>
            <span id="boxes-nav-btn">story</span>
            <span id="wheel-nav-btn">interests</span>
            <span id="footer-nav-btn">contact</span>
        </div>
        <div class="progress-line"></div>
        <div class="circle"></div>
    </div>
</div>