<!-- games.html -->

<section id="wheel">
    <div class="section-desc">
        WHEEL
    </div>
    <div class="flex-container">
        <div class="box-container">
            <div class="box box1">
                <div class="inner-box">
                    <h1>Lorem Ipsum</h1>
                    <p>
                        Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                        sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
        </div>
        <div class="main-circle">
            <div class="inner-circle">
                <h1><i class="fas fa-play"></i></h1>
            </div>
            <div class="outer-circle">
                <div class="wheel-circle circle1">
                    <p>0</p>
                    <!-- <i class="fab fa-angular"></i> -->
                </div>
                <div class="wheel-circle circle2">
                    <p>1</p>
                    <!-- <i class="fab fa-android"></i> -->
                </div>
                <div class="wheel-circle circle3">
                    <p>2</p>
                    <!-- <i class="fas fa-bug"></i> -->
                </div>
                <div class="wheel-circle circle4">
                    <p>3</p>
                    <!-- <i class="fas fa-car"></i> -->
                </div>
                <div class="wheel-circle circle5">
                    <p>4</p>
                    <!-- <i class="fab fa-chrome"></i> -->
                </div>
                <div class="wheel-circle circle6">
                    <p>5</p>
                    <!-- <i class="fas fa-cloud"></i> -->
                </div>
            </div>
        </div>
    </div>
</section>