<!-- games.html -->

<section id="wheel">
    <div class="section-desc">
        WHEEL
    </div>
    <div class="main-circle">
        <div class="inner-circle">
            <h1>Text</h1>
        </div>
        <div class="outer-circle">
            <div class="box box1"></div>
            <div class="box box2"></div>
            
            <div class="wheel-circle circle1">
                <i class="fab fa-angular"></i>
            </div>
            <div class="wheel-circle circle2">
                <i class="fab fa-android"></i>
            </div>
            <div class="wheel-circle circle3">
                <i class="fas fa-bug"></i>
            </div>
            <div class="wheel-circle circle4">
                <i class="fas fa-car"></i>
            </div>
            <div class="wheel-circle circle5">
                <i class="fab fa-chrome"></i>
            </div>
            <div class="wheel-circle circle6">
                <i class="fas fa-cloud"></i>
            </div>
        </div>
    </div>
</section>